.Weather {
    max-width: 600px;
    border: 1px #425F57 solid;
    border-radius: 4px;
    margin: 0 auto;
    padding: 10px;

}

.Weather ul {
    list-style-type: none;
    padding: 0;
}

.Weather #degrees-value {
    font-size: 25px;
}